# SPDX-License-Identifier: GPL-2.0-only
#
# Generic DPLL drivers configuration
#

menuconfig DPLL
	bool "DPLL drivers configuration"
	help
	  DPLL driver configuration subsystem which provides general interface
	  to configure devices that use any kind of Digital PLL and could use
	  different sources of input signal to synchronize to, as well as
	  different types of outputs.
